body{
    background-color: #f7f8f9;
}
.home{
    flex: 4;
    padding: 20px;
}
.homeWidgets{
    display: flex;
    margin: 20px;
}
h1, h2, h3, h4{
    font-family: 'Source Sans Pro', sans-serif !important;
}
.MuiDataGrid-root{
    height: calc(100% - 60px) !important;
    background-color: #fff;
    padding: 0 10px;
}

@media screen and (max-width: 575px) {
    .MuiDataGrid-root {
        height: 450px !important;
    }
}