.containerAdmin{
    display: flex;
}

.link{
    text-decoration: none;
    color: inherit;
}

@media (min-width: 1200px){
    .containerAdmin {
        max-width: 100%;
    }
}
@media screen and (max-width: 575px) {
    .containerAdmin {
        flex-direction: column;
        height: auto;
    }
}