.productList{
    flex: 4;
}

.productListItem{
    display: flex;
    align-items: center;
}

.productListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

.productListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}
.btnbuscar .productListEdit{
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 10px;
    display: block;
    position: relative
}

.productListButton{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #4668b3;
    color: white;
    cursor: pointer;
    margin:10px 20px 10px 0;
}

.react-datepicker-wrapper {
    width: fit-content;
    margin-right: 10px;
}

.productListDelete{
    color: red;
    cursor: pointer;
}

.listbutton button{
    margin-right: 20px;
    margin-bottom: 20px;
}