.userList {
    flex: 4;
    padding: 20px;
  }
  
  .userListUser {
    display: flex;
    align-items: center;
  }
  
  .userListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .userListEdit{
    border: none;
    cursor: pointer;
    margin-right: 20px;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #b83422;
    color: #fff;
    border-radius: 8px;
    line-height: 1;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .userListDelete{
      color: #b83422;
      cursor: pointer;
  }